<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Match Review Interface</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <header>
        <h1>Match Review Interface</h1>
    </header>
    <main>
        {% include 'components/record_container.html' %}
        {% include 'components/buttons.html' %}
        {% include 'components/llm_container.html' %}
        {% include 'components/status_container.html' %}
        {% include 'components/upcoming_records.html' %}
        {% include 'components/review_process.html' %}
        {% include 'components/matching_considerations.html' %}
        {% include 'components/why_matters.html' %}

        <div class="loading-spinner" id="loading-spinner"></div>

        <!-- Organization Details Section -->
        <div id="organization-details">
            <p id="org-name"></p>
            <p id="connecthub-org-id"></p>
            <p id="connecthub-display-label"></p>
            <p id="match-score"></p>
            <p id="npi-count"></p>
            <p id="input-label"></p>
            <p id="input-states"></p>
            <p id="connecthub-label"></p>
            <p id="connecthub-states"></p>
        </div>
    </main>
    <script type="module" src="{{ url_for('static', filename='js/utility_functions.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/record_fetching.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/button_handlers.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>