<div id="record-container" class="record-details">
    <h2>Organization Details</h2>
    <div>
        <h3>Info</h3>
        <p><strong class="tooltip">Name:<span class="tooltiptext">The official name of the organization</span></strong> GRADY MEMORIAL HOSPITAL CORPORATION</p>
        <p><strong class="tooltip">ConnectHub Org ID:<span class="tooltiptext">Unique identifier for the organization in ConnectHub</span></strong> 6793e05e37747f17b541791c</p>
        <p><strong class="tooltip">ConnectHub Display Label:<span class="tooltiptext">The display label for the organization in ConnectHub</span></strong> Grady Health System</p>
        <p><strong class="tooltip">Match Score:<span class="tooltiptext">The confidence score of the match</span></strong> 100</p>
        <p><strong class="tooltip">NPI Count:<span class="tooltiptext">Number of National Provider Identifiers associated with the organization</span></strong> 193</p>
    </div>
    <div>
        <h3>Input</h3>
        <p><strong class="tooltip">Input Label:<span class="tooltiptext">The label provided as input for matching</span></strong> grady memorial hospital</p>
        <p><strong class="tooltip">Input States:<span class="tooltiptext">The states associated with the input label</span></strong> ["GA"]</p>
    </div>
    <div>
        <h3>ConnectHub</h3>
        <p><strong class="tooltip">ConnectHub Label:<span class="tooltiptext">The label in ConnectHub for the organization</span></strong> grady memorial hospital</p>
        <p><strong class="tooltip">ConnectHub States:<span class="tooltiptext">The states associated with the ConnectHub label</span></strong> nan</p>
    </div>
</div>